@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  z-index: 2;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showcase video {
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  mix-blend-mode: overlay;
}

.volume-btn {
  margin-right: 15px !important;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.play-icon {
  margin-right: 10px !important;
  margin-left: -10px !important;
  width: 16px;
  height: 16px;
}

.info-icon {
  margin-right: 10px !important;
  margin-left: -10px !important;
  width: 16px;
  height: 16px;
}

.text h2 {
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.movie-poster {
  display: none;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.3);
  border: none !important;
  color: white;
}

.form-control:active, .form-control:focus, .form-control:hover {
  outline: none !important;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.5);
}

input[type=search]:hover, input[type=search]:focus, input[type=search]:active {
  width: 300px;
  transition: 0.5s;
}

input[type=search] {
  width: 200px;
  transition: 0.5s;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.play-btn {
  align-items: center;
  color: black;
  background-color: white;
}

.play-btn:hover {
  background: rgb(122, 122, 122);
  transition: background 250ms ease-in-out;
}

.info-btn {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.info-btn:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: background 250ms ease-in-out;
}

a {
  display: inline-flex !important;
  box-shadow: none;
  font-size: 1em;
  padding: 10px 30px;
  text-decoration: none;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
}

a i {
  margin-right: 5px !important;
}

p {
  display: inline-flex !important;
}

p i {
  margin-right: 5px !important;
}

.right-overlay {
  top: 55vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 0;
  z-index: 3;
}

.right-overlay p {
  background: rgba(180, 180, 180, 0.2);
  padding: 10px 20px;
  border-left: 2px solid white !important;
  color: white;
  margin-bottom: 0 !important;
}

.overlay-content {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  color: white;
  border-bottom: 2px solid transparent;
}

.logo:hover {
  border-bottom: 2px solid white;
  transition: 250ms ease-in-out;
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  input[type=search] {
    width: 80vw;
    transition: 0.5s;
  }

  .logo {
    display: none !important;
  }

  .text {
    top: 60vh;
  }

  .text h2 {
    display: none;
  }

  .text a {
    padding: 5px 10px;
    font-size: 0.8em;
  }

  .showcase video {
    display: none;
  }

  .movie-poster {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: top;
  }

  .right-overlay {
    display: none;
  }

  .play-btn, .info-btn {
    margin-right: 0px !important;
  }

  .play-icon, .info-icon {
    margin-left: 0px !important;
  }
}