{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block app %}
<section class="showcase">
    <header>
        <a href="/" class="logo"><h2>Homeflix</h2></a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </header>

    <video id="trailer" autoplay muted loop>
        <source src="{{data.trailer_path}}">
    </video>
    <img class="movie-poster" src="{{data.poster_path}}">

    <div class="overlay"></div>

    <div class="text">
        <h2>{{data.title}}</h2>
        <a class="play-btn" href="#"><img class="play-icon" src="../static/icons/play.png">Play</a>
        <a class="info-btn" href="#"><img class="info-icon" src="../static/icons/info.png">More Info</a>
    </div>

    <div class="right-overlay">
        <div class="overlay-content">
            <img onclick="toggleVolume(this);"  class="volume-btn" src="../static/icons/mute.png">
            {% if data.rating %}
            <p><i class="fa fa-star-o" style="font-size:22px"></i>{{data.rating}}</p>
            {% endif %}
        </div>
    </div>
</section>

<section class="netflix-container">
    {% for category in movies %}
        <!-- START -->
        {% if category[category.keys()|first]|length > 18 %}
            <h2>{{ category.keys()|first }}</h2>
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for movie in category[category.keys()|first] %}
                        <div name="swiper-slide" class="swiper-slide">
                            <a href="#">
                                <img src="{{movie.poster_path}}" alt="{{movie.title}}">
                                <div class="bottom-left transparent">
                                    <p>{{ movie.title }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <!-- <div class="swiper-pagination"></div> -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        {% endif %}
        <!-- END -->
    {% endfor %}
</section>
{% endblock %}